<div>
    Todo listo para trabajar con websockets

    <input type="text" id="messageInput">
    <button id="sendMessage">Enviar</button>
    <div id="messageContainer"></div>

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>